body{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}

.container{
    overflow: hidden;
    margin: auto;
    width: 80%;
}

.slider{
    position: relative;
    height: 100vh;
}

.wrapper{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.text{
    width: 600px;
    z-index: 10;
}

.name{
    font-weight: bold;
}

.profession{
    font-weight : normal;
    font-style: italic;
}

.profile{
    
    position: relative;
    right: 4rem;
}

.button{
    position: relative;
    top: 90%;
    left: 60%;
    display: inline;
    /* background-color: #fff; */
    
}

.button .prev{
    cursor: pointer;
    border: none;
    background-color: #fff;
    padding: 15px 20px;
    border-radius: 50px 0px 0px 50px;
    margin-right: -5px;
    
}

.button .next{ 
    cursor: pointer;
    border: none;
    background-color: #fff;
    padding: 15px 20px;
    border-radius: 0px 50px 50px 0px;
}

.john{
    display: none;
}